* {
    padding: 0;
    margin: 0;
    font-size: 24px;
    color: #cc9966;
    background-color: #fffdda;
}

#title {
    text-align: center;
    margin-top: 2%;
    font-size: 1.5rem;
}

#texts {
    background-color: #2779a7;
    border-radius: 25px;
    display: grid;
    align-items: center;
    margin: 2rem auto 2rem auto;
    height: 40vh;
    width: 90vw;
    grid-template-columns: 1fr 0.1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

textarea {
    background-color: #fffdda;
    border-radius: 13px;
    padding: 0.2rem;
    width: 80%;
    height: 80%;
    margin: 0 auto 2rem auto;
}

#translated_text {
    grid-column: 3;
}

input {
    border-radius: 10px;
    background-color: #fffdda;
    padding: 0.2rem;
    width: 80%;
    height: 30%;
    margin: 0 auto 0 auto;
}

textarea::placeholder {
    color: #330000;
    font-style: italic;
    opacity: .3;
}

#buttons {
    display: grid;
    align-items: center;
    margin: 2rem auto 2rem auto;
    height: 10vh;
    width: 60vw;
    grid-template-columns: 1fr 1fr;
}

button {
    margin: auto 2em auto 2em;
    border-radius: 12px;
    background-color: #439bcc;
    height: 10vh;
    cursor: pointer;
}

#swap_languages {
    display: inline-block;
    
    background: none;

    font-size: 0;
    padding: 0;

    text-align: center;
    width: calc(var(--min-height));

    border-radius: 12px;
    height: calc(var(--min-width));
}