<!DOCTYPE html>
<html lang="en" lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="../static/css/styles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <title>Translator</title>
    </head>

    <body>
        <p id="title">TRANSLATOR</p>
        
        <div id="texts">
            <input list="src_languages" id="src_input">
            <datalist id="src_languages"></datalist>

            <button id="swap_languages"><i class="material-icons" style="font-size:48px;">swap_horiz</i></button>

            <input list="tgt_languages" id="tgt_input">
            <datalist id="tgt_languages"> </datalist>

            <textarea id="text_to_translate" placeholder="Write here a message you want to translate and listen to" row="4" cols="50"></textarea>
            <textarea id="translated_text" row="4" cols="50" readonly>{{ data }}</textarea>
        </div>

        <div id="buttons">
            <button type="button" id="translate_button">Translate</button>

            <div id="player">
                <i class="material-icons" style="font-size:48px;">volume_up</i>
                <audio></audio>
            </div>
        </div>
    </body>

    <script src="../static/script.js"></script>
</html>